*, *::after, *::before {
    box-sizing: border-box;
}
body{
    display: flex;
    margin: 0;
    font-family: sans-serif;

    a {
        text-decoration: none;
    }
    #aside {
        display: flex;
        flex-direction: column;
        background: #253044;
        width: 20%;
        height: 100vh;
        padding-left: 15px;
        #bars {
            display: flex;
            align-items: center;
            height: 64.74px;
            padding: 10px;
            i {
                font-size: 2.5rem;
                color:  #a9d7e3;
            }
        }
        .category {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 10px;
            a {
                margin: 15px 0;
                color: #fafafa;
                font-size: 0.8em;
                i {
                    color: #a9d7e3;
                    margin-right: 10px;
                }
                 h3 {
                    margin: 0;
                    font-size: 0.8em;
                    color: #6d7d99;
                }
            }
            a:hover {
                transform: translateY(-10%);
            }
        }
        #user {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 10px;
            > a {
                margin-right: 10px;
            }
            div {
                h4 {
                    margin: 0 0 10px 0;
                    color: #fff;
                    font-size: 0.8em;
                    letter-spacing: 1px;
                    font-weight: 400;
                }
                a {
                    padding: 1px 2px;
                    border: 1px solid;
                    border-radius: 4px;
                    color: #6d7d99;
                }
            }
        }
    }
    #section {
        display: flex;
        flex-direction: column;
        background: #f3f8fb;
        width: 80%;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ffffff;
            width: 100%;
            padding: 0 30px;
            border-bottom:  1px solid #dfdfdf;
            #navlinks {
                width: 70%;
                display: flex;
                align-items: center;
                a {
                    display: block;
                    padding: 20px 0;
                    color: #a4aab2;
                    border: 3px solid #fff;
                    // text-align: center;
                }
                a:hover {
                    border-bottom: 2px solid;
                    border-radius: 5px;
                    color: #30383d;
                }
                a:nth-child(2) {
                    margin: 0 30px;
                }
            }
            #search {
                width: 30%;
            }
        }
        header {
            display: flex;
            align-items: center;
            padding: 30px;
            img {
                margin-left: 45px;
                border-radius: 50;
                box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
            }
            #artinfo {
                padding-left: 30px;
                h1 {
                    margin: 5px;
                    font-size: 3.5em;
                }
                span {
                    font-size: 0.8em;
                }
                span:nth-of-type(3) {
                    padding-left: 20px;
                }
                p {
                    margin: 0;
                    line-height: 1.8;
                    font-size: 1em;
                    word-spacing: 1px;
                    color: grey;
                }
                button {
                    background: rgb(10, 7, 24);
                    color: whitesmoke;
                    padding: 7px 20px;
                    border: 1px solid rgb(10, 7, 24);
                    border-radius: 20px;
                }
            }
        }
        article {
            display: flex;
            padding: 30px 30px 0 30px;
            #latestrel {
                width: 20%;
                // border: 1px solid;
            }
            #swimming {
                width: 60%;
                table {
                    tr {
                        td:first-child {
                            color: #a4aab2;
                            text-align: center;
                        }
                        td {
                            padding: 10px 0;
                        }
                        
                    }
                }
            }
            #similarart {
                width: 20%;
                // border: 1px solid;
                ul {
                    
                    li {
                        
                        
                    }
                }
            }
        }
    }
    
}
